.form__button {
    background-color: #000;
    display: block;   
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    border: solid 1px #000;
    width: 100%;
}

.form {
    line-height: 2em;
}

.form__input-activity {
    background-color: transparent;
    display: block;
    border: solid 1px #fff;
    border-radius: 4px;
    width: 96%;
    margin: 0;
}

.form__button:hover {
    background-color: transparent;
    color: #000;
    transition: 0.5s;
    border: solid 1px #000;
}

