.unordered__list {
    list-style: none;
    padding: 0;
    width: 40%;
}

.list__item {
    font-size: 18px;
    border: solid 1px #fff;
    padding: 10px 6px;
    border-radius: 10px;
    margin-block: 10px;
    position: relative;
}

.list__button {
    background-color: transparent;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #fff;; 
    color: #fff;
    margin-inline: 10px;
} 
