body {
margin: 0;
font-family: 'Ubuntu', sans-serif;
}

.main__app {
display: flex; 
flex-direction: column;
justify-items: center;
align-items: center;
}

div {
min-height: 100vh; 
min-width: 100vw;
position: absolute;
}

.test {
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(2,16,52,1) 100%);
color: #fff;
}

.test1 {
background: rgb(34,193,195);
background: linear-gradient(10deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');