body {
background: rgb(34,193,195);
background: linear-gradient(10deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
 min-height: 100vh;
 font-family: 'Ubuntu', sans-serif;
}

.main__app {
    display: flex; 
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');